<!-- <app-myContainer></app-myContainer> -->

<div class="container">
    <header>
        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLinkActive="active" routerLink="/about">AboutUs</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLinkActive="active" routerLink="/products">Products</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact Us</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLinkActive="active" routerLink="/cvhcxk">cvhdsbjm</a>
                </li>

            </ul>
        </nav>
    </header>
</div>

<router-outlet></router-outlet>