<div class="container">
    <h1 class="text-center">Our Products
    </h1>
    <p class="text-center">
        Of course, this is not the only faulty sentence structure error you might make. It’s important to pay close attention to your sentence structure to make sure you have both a subject and a verb. And, if you are listing items or phrases in a sentence, make
        sure you keep the items in your list in the same form. Doing so keeps your sentences “parallel,” which is a good thing
    </p>
    <hr class="mb-3">
</div>