<div class="container">
    <h1 class="text-center">Our Products
    </h1>
    <p class="text-center">
        Of course, this is not the only faulty sentence structure error you might make. It’s important to pay close attention to your sentence structure to make sure you have both a subject and a verb. And, if you are listing items or phrases in a sentence, make
        sure you keep the items in your list in the same form. Doing so keeps your sentences “parallel,” which is a good thing
    </p>
    <hr class="mb-3">

    <div class="row">
        <div class="col-md-8 row">
            <div class="card">
                <img class="card-img-top" src="assets/laptop.jfif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Laptop</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a routerLink="laptop" class="btn btn-success">Know More</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/mobile.jfif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mobile</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a routerLink="mobile" class="btn btn-success">Know More</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/television.jfif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Television</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a routerLink="television" class="btn btn-success">Know More</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/washing.jfif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Washing Machine</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a routerLink="washing-machine" class="btn btn-success">Know More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 border-left">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>